body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: steelblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: lightblue;
  text-decoration: underline;
}

ul {
 display: flex;
 list-style-type: none;
 border: 2px solid green;
 

}

li {
  padding: 1em 2em;
  
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* MOVIE CARDS */

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

/* LOADER */

.loader-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.yellow {
  height: 50vh;
}
.yellow span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fbc531;
  margin: 10px;
  animation: jump .6s infinite alternate;
}

span:nth-of-type(2) {
  animation-delay: .2s;
  background: #FFC312;
}

span:nth-of-type(3) {
  animation-delay: .4s;
  background: #e1b12c;
}

@keyframes jump {
  to {
    transform: translateY(-20px);
  }
}